// --------------------------------------------------
//  CSS - Config
// --------------------------------------------------

  // Z index
  $zBase: 10;
  $zLoader: 60;

// --------------------------------------------------
// Colors
// --------------------------------------------------

  // shades of gray
  $grayLighter: #f6f6f6;
  $grayLight:   #e0e0e0;
  $gray:        #cccccc;
  $grayDark:    #888888;
  $grayDarker:  #555555;


// --------------------------------------------------
// Common values
// --------------------------------------------------

  $spacing: rem(20);
  $opacity: .85;
  $border: 1px solid $gray;
  $borderLight: 1px solid $grayLight;
  $radius: 4px;
  $background: $grayLighter;
